
<script src="<%= route %>/javascripts/ejs.min.js"></script>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Last Events</h2>
                    <ol class="breadcrumb">
                       
                    </ol>
                </div>
            </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>



<div id="events">
  <%- partial('_events', { url: '/api/pings/events', route: route }) %>
</div>
<div id="welcome" style="display: none">
<p>Welcome to Uptime, the web monitoring application.</p>
<p>To begin, <a href="<%= route %>/checks/new">create your first check</a>.</p>
</div>
<script>
$(document).ready(function() {
  $('.navbar-inner li').eq(0).addClass('active');
  $.getJSON('/api/checks/count', function(nbChecks) {
    if (nbChecks.total == 0) {
      $('#events').hide();
      $('h1').hide();
      $('#welcome').show();
    };
  });
});
</script>
